.home-background {
  background-image: url(C:\Users\3mand\teste\src\assets\AVTzR3ReNgKUAAAAAElFTkSuQmCC.png);
  background-repeat: no-repeat;
  padding: 320px 0;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  background-size: 1810px;
 background-size:cover;
}

body {
  background-color: #fff5ee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}


/* Estilo do grupo de texto */
.grouptext {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 70px;
  margin-left: -80px;
}

.text1{
  font-size: 33px;
  color: #242c24;
  font-weight: 700;
}


.text2 {
  max-width: 700px;
  padding-top: 10px;   /*espaco entre o texto */
  font-size: 20px;
  text-align: justify;
  color:#383634;
}


/* Estilização da imagem */
.sla {
  width: 120%; /* Aumentei ainda mais a largura */
  max-width: 710px; /* Defini um tamanho máximo maior */
  height: auto;
  border-radius: 40%;
  border-bottom-right-radius: 40;
  display: block;
  margin-left: 750px; /* Move a imagem para a direita */
  margin-top: -367px; /* Move a imagem para cima */
}


 
 
/* Ajuste para manter os elementos alinhados */
.row {
  display: flex;
  align-items: flex-start;
}


/* Estilização do vídeo */
.video {
  width: 700px; /* Tamanho reduzido do vídeo */
  max-width: 900px; /* Largura máxima */
  height: auto; /* Manter a proporção do vídeo */
  border-radius: 45px;
  margin-left: 800px; /* Move o vídeo para a direita */
margin-top: 90px;}



.grafico {
  margin-top: -680px;
  margin-left: 700px;
  width: 800px;  /* Aumentando a largura */
  height: auto; /* Mantém a proporção */
  max-width: 1000px; /* Permite que aumente até um certo limite */
}
.grafico img {
  transform: scale(1.2); /* Aumenta a imagem em 50% */
}

.saiba h3{
  margin-top: 70px ;
  align-items: center;
  margin-left: 600px;
  color: rgb(179, 141, 61);
  justify-content: center;
  font-weight: 610;
  font-size: 33px;


}


 .saiba2{
  align-items: center;
  margin-left: 480px;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  font-size:26px;

  padding-bottom: 30px;
  color: rgb(168, 66, 48);


 }




.frase1 {
  font-size: 33px;
  color: #2a5a30;
  font-weight: 700;
  position: relative;
  top: 480px; /* Move a frase para cima. Ajuste conforme necessário */
  margin-left: -90px; /* Garante que o texto vai à esquerda */
}



.subtitulo {
  font-size: 20px;
  color: #383737;
  font-weight: 500;
  margin-top: 15px; /* Espaçamento entre o título e o subtítulo */
  white-space: pre-wrap; /* Faz com que quebras de linha sejam respeitadas */
  word-wrap: break-word; /* Garante que as palavras não saiam da tela */
  line-height: 1.6; /* Ajusta o espaçamento entre as linhas */
  width: 60%; /* Garante que o subtítulo ocupe 100% da largura da tela */
  text-align: justify;
  

}







h2::after {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -8px; /* Distância da linha em relação ao texto */
  width: 0%;
  height: 3px;
  background-color: #6e8070; /* Cor da linha */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform: translateX(-8%); /* Mantém a linha centralizada */
  border-radius: 600px;
}

h2:hover::after {
  width: 60%;
}


h2 {
  position: relative;
  display: inline-block; /* Garante que a linha fique alinhada com o texto */
  font-size: 32px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}







/* Seção de Testemunhos */

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha a seção à esquerda */
  margin-left: -85px; /* Ajusta a posição para a esquerda */
  padding: 50px 1;
  margin-top: 320px;
  padding-left: 10px;
  
}









/* Grid de Cards */
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas */
  gap: 30px 25px; /* Espaçamento entre os cards */
  justify-content: start; /* Alinha os cards à esquerda */
  margin-top: 48px;
}

/* Estilização dos Cards */
.card {
  background: #ffffff; /* Cor roxa clara de fundo */
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 40px;
  width: 290px; /* Tamanho exato do card */
  position: relative; /* Permite movimentação */
  border: none ;

}

/* Faz os cards da segunda coluna subirem levemente */
.card:nth-child(2n) {
  top: -40px; /* Move os cards da direita para cima */
}

/* Cabeçalho do Card */
.card-header {
  background: transparent;
  padding: 13px;
  display: flex;
  border: none !important;

  justify-content: center;
}

.card-header img {
  width: 50px; /* Ajusta tamanho do ícone */
  height: auto;
}

/* Corpo do Card */
.card-body h3 {
  color: #375e23; /* Roxo escuro */
  font-weight: bold;
  font-size: 18px;
}
.card-body{
  background-color: #e6e6e654;
  border-radius: 15px;
}

.card-body p {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}


/* Rodapé do Card */
.blockquote-footer {
  font-size: 12px;
  font-style: italic;
  color: #599e64;
  margin-top: 5px;
}
