/* Tela inteira da página de login */
.login-page {
  height: 100vh;
  background-image: url(C:\Users\3mand\teste\src\assets\mesh-693.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:auto;
}


.form-group::after{ 
border: none;
}


/* Caixa central de login */
.login-box {
  display: flex;
  width: 83%;
  max-width: 2000px;
  min-height: 750px;
  background-color: #fffefd;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 200px;
}


.form-input{
  color: #3c473c;
}



/* Lado esquerdo - formulário */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}




/* Lado direito - imagem */
.login-right {
  flex: 1;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 260px;
}



/* Imagem ilustrativa */
.login-image {
  max-width: 100%;
  height: auto;
}





/* Título */
.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
 
}




/* Texto extra */
.frase4 {
  color: #424d3ec5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
  margin-left: 20px;
}




/* Campo de formulário */
.form-group {
  margin-bottom: 10px;
}



.form-input input{
  width: 100%;
  max-width: 900px;
  height: 60px;
  font-size: 16px;
  padding: 17px;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  color: rgb(58, 61, 61);
  margin-top: 20px;
  margin-bottom: 20px;
  
}




/* Botão de login */
.btn-login {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #7c997c;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 90px;
}

 


.btn-login:hover {
  background-color: #a0b683;
  transform: scale(1.001);
}




h2::after {
  display: none;
}

.toast-error {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #dc3545;
  color: white;
  padding: 14px 22px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.4s ease;
  z-index: 9999;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.text-success {
  color: rgb(110, 206, 110);
  font-size: 0.9rem;

}

.text-danger {
  color: rgb(206, 93, 64);
  font-size: 0.8rem;
  padding-bottom: -40px;
}



.password-rules div {
  margin-bottom: 3px;
  font-size: 13px;
}