/* Fundo geral da página */
.container-fluid {
    background-color: #65a565c5;
}

/* Caixa de login maior */
.login-box {
    max-width: 900px; /* Aumentando a largura do quadrado */
    min-height: 600px; /* Aumentando a altura */

}


.form-control {
    height: 50px;
    font-size: 18px;
    padding: 12px;
  }
  
  .btn-dark {
    padding: 15px;
    font-size: 18px;
  }


  .frase4{
    color: #000000c5;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 100px;
  }


   